{% macro scoreboard() -%}
<div class="scoreboard-controls row">
  <p>
  <a href="javascript:loadScoreboard(7, 1)">周</a> |
  <a href="javascript:loadScoreboard(30, 1)">月</a> |
  <a href="javascript:loadScoreboard(0, 1)">全部时间</a>
  </p>
</div>
<div class="scoreboard row">
  <div class="col-md-12 p-0">
    <table class="table table-striped">
      <thead>
        <tr>
          <td scope="col" class="col-md-1"><b>排名</b></td>
          <td scope="col" class="col-md-1"></td>
          <td scope="col" class="col-md-4"><b>黑客</b></td>
          <td scope="col" class="col-md-4"><b>徽章</b></td>
          <td scope="col" class="col-md-1"></td>
          <td scope="col" class="col-md-1"><b>分数</b></td>
        </tr>
      </thead>
      <tbody id="scoreboard">
      </tbody>
    </table>
  </div>
  <div>
    <ul id="scoreboard-pages" class="p-0">
    </ul>
  </div>
</div>
{%- endmacro %}
