{% from "macros/widgets.html" import navitem %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a href="{{ url_for('views.static_html', route='/') }}" class="navbar-brand">
      {% if Configs.ctf_logo %}
      <img class="img-responsive ctf_logo" src="{{ url_for('views.files', path=Configs.ctf_logo) }}" height="25" alt="{{ Configs.ctf_name }}">
      {% else %}
      {{ Configs.ctf_name }}
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#base-navbars"
            aria-controls="base-navbars" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="base-navbars">
      <ul class="navbar-nav mr-auto">
	{#
        {{ navitem("道馆", url_for("pwncollege_dojos.listing"), "fa-torii-gate") }}
	#}
	<style>
	.nav-item svg {
		height: 16px;
		width: 16px;
	}

	.nav-item svg path {
		fill: #b5e853 !important;
	}

	</style>

	<li class="nav-item">
	  <a class="nav-link" href="{{ url_for('pwncollege_dojos.listing') }}">
	    <span class="d-block" data-toggle="tooltip" data-placement="bottom" title="道馆"></span>
	    <span class="d-sm-block d-md-none d-lg-block text-nowrap">
	      <svg xmlns="http://www.w3.org/2000/svg"
		     width="500" height="500" viewBox="0 0 500 500">
		  <g id="pokemon-gym">
		    <path id="main-outline"
			  fill="#FFFFFF" stroke="#000000" stroke-width="0.5"
			  d="M 436.23,45.87
			     C 368.38,181.94 300.54,318.02 232.70,454.09
			       220.22,407.49 207.73,360.90 195.25,314.31
			       195.25,314.31 193.58,308.11 193.58,308.11
			       193.58,308.11 186.21,307.90 181.55,307.39
			       123.78,303.42 71.85,256.86 64.28,199.53
			       52.97,141.73 89.52,81.34 143.38,59.74
			       201.12,35.14 273.40,61.81 303.38,116.46
			       343.34,95.59 383.52,73.83 423.57,52.62
			       423.57,52.62 436.23,45.87 436.23,45.87 Z" />
		    <g id="ball-outline">
		      <path id="ball-outline-top"
			    fill="#f71208" stroke="none"
			    d="M 286.17,115.42
			       C 286.17,115.42 226.76,147.01 226.76,147.01
				 217.65,136.88 204.68,131.08 191.06,131.05
				 164.45,131.05 142.89,152.62 142.89,179.22
				 142.91,183.13 143.40,187.03 144.36,190.82
				 144.36,190.82 84.91,222.44 84.91,222.44
				 79.30,208.72 76.40,194.04 76.38,179.22
				 76.38,115.88 127.72,64.54 191.06,64.54
				 229.26,64.60 264.92,83.67 286.17,115.42 Z" />
		      <path id="ball-outline-bottom"
			    fill="#f71208" stroke="none"
			    d="M 236.60,415.44
			       C 236.60,415.44 203.82,293.13 203.82,293.13
				 199.58,293.62 195.32,293.88 191.06,293.90
				 152.71,293.84 116.92,274.61 95.71,242.67
				 95.71,242.67 155.06,211.11 155.06,211.11
				 164.18,221.43 177.28,227.36 191.06,227.38
				 217.66,227.38 239.22,205.82 239.22,179.22
				 239.20,175.16 238.67,171.12 237.64,167.20
				 237.64,167.20 297.06,135.60 297.06,135.60
				 297.06,135.60 404.70,78.26 404.70,78.26
				 404.70,78.26 236.60,415.44 236.60,415.44 Z
			       M 247.66,172.36
			       C 253.14,210.38 212.71,247.20 175.39,234.40
				 167.33,232.08 159.76,228.01 153.47,222.44
				 138.82,230.27 123.94,238.06 109.43,245.92
				 133.08,275.48 173.50,290.22 210.66,283.11
				 220.18,318.66 229.72,354.21 239.24,389.75
				 239.24,389.75 383.75,99.91 383.75,99.91
				 383.75,99.91 247.66,172.36 247.66,172.36 Z" />
		      <path id="ball-outline-center"
			    fill="#f71208" stroke="none"
			    d="M 191.06,144.82
			       C 210.06,144.82 225.46,160.22 225.46,179.22
				 225.46,198.22 210.06,213.62 191.06,213.62
				 172.05,213.62 156.65,198.22 156.65,179.22
				 156.65,160.22 172.05,144.82 191.06,144.82
				 191.06,144.82 191.06,144.82 191.06,144.82 Z
			       M 191.06,153.99
			       C 177.12,153.99 165.83,165.29 165.83,179.22
				 165.83,193.15 177.12,204.45 191.06,204.45
				 204.99,204.45 216.28,193.15 216.28,179.22
				 216.28,165.29 204.99,153.99 191.06,153.99
				 191.06,153.99 191.06,153.99 191.06,153.99 Z" />
		    </g>
		  </g>
		</svg>
	      道馆
	    </span>
	  </a>
	</li>

        {{ navitem("工作空间", url_for("pwncollege_workspace.view_workspace", service="vscode"), "fa-terminal") }}
        {{ navitem("桌面", url_for("pwncollege_workspace.view_workspace", service="desktop"), "fa-desktop") }}
        {{ navitem("聊天", "https://kook.top/soUkFL", "fa-comments", new=True) }}
        {{ navitem("帮助","https://kook.top/5ecHF2","fa-question",new=True)}}
      </ul>

      <hr class="d-sm-flex d-md-flex d-lg-none">

      <ul class="navbar-nav ml-md-auto d-block d-sm-flex d-md-flex">
        {% if authed() %}
        {% if is_admin() %}
        {{ navitem("管理面板", url_for("admin.view"), "fa-wrench") }}
        {% endif %}

        {{ navitem("简介", url_for("pwncollege_users.view_self"), "fa-user-circle") }}
        {{ navitem("设置", url_for("views.settings"), "fa-cogs") }}
        {{ navitem("注销", url_for("auth.logout"), "fa-sign-out-alt", shrink=True) }}

        {% else %}
        {% if registration_visible() %}
        {{ navitem("注册", url_for("auth.register"), "fa-user-plus") }}
        {% endif %}

        {{ navitem("登录", url_for("auth.login", next=request.full_path), "fa-sign-in-alt") }}
        {% endif %}

        <li class="nav-item">
          <a class="nav-link close-link" href="#">
            <span class="d-block" data-toggle="tooltip" data-placement="bottom" title="{{ name }}">
              <i class="fas caret-up d-none d-md-block d-lg-none"></i>
            </span>
            <span class="d-sm-block d-md-none d-lg-block text-nowrap">
              <i class="fas fa-caret-up pr-1"></i>
              <span class="d-lg-none">Hide Navbar</span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="navbar-pulldown">
  <i class="fas fa-fw fa-caret-down" title="Show navigation bar"></i>
</div>
