{% extends "base.html" %}
{% from "macros/widgets.html" import card %}


{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>神奇宝贝道馆</h1>
    <p>
      怀揣着成为神奇宝贝大师的梦想，新手训练家们将要开展自己的旅程，在 pwn.hust.college 平台上挑战各个城市的神奇宝贝道馆，战胜馆主后获得 8 枚道馆徽章，并获得神奇宝贝联盟大会的参赛资格。
    </p>
  </div>
</div>
<div class="container">
  {% for type, dojos in typed_dojos.items() %}
    {% if type == "Start Here" %}
    <h2>入门篇</h2>
    <p>在开展神奇宝贝道馆挑战前，新手训练家们需要在真新镇的大木博士研究所获得初始神奇宝贝，神奇宝贝图鉴，神奇宝贝球等物资。</p>
    {% elif type == "Tools Learning" %}
    <h2>工具篇</h2>
    <p>工欲善其事必先利其器。我们提供了多种新手训练家门需要的工具学习课程，例如如何使用神器宝贝图鉴，如何使用神奇宝贝球，如何收服神奇宝贝等。</p>
    {% elif type == "Courses" %}
    <h2>课程</h2>
    <p>我们在平台上提供了众多课程，包含软件安全与软件安全实验。</p>
    {% elif type == "Elementary" %}
    <h2>初级篇</h2>
    <p>深灰道馆，华蓝道馆构成了 pwn.hust.college 平台初级篇的主要课程内容，完成关卡后你可以获得<a href="{{ url_for("pwncollege_belts.view_belts") }}">徽章</a>奖励。建议按照顺序进行学习，祝你好运！</p>
    {% elif type == "Intermediate" %}
    <h2>中级篇</h2>
    <p>枯叶道馆，金黄道馆构成了 pwn.hust.college 平台中级篇的主要课程内容，完成关卡后你可以获得<a href="{{ url_for("pwncollege_belts.view_belts") }}">徽章</a>奖励。建议按照顺序进行学习，祝你好运！</p>
    {% elif type == "Advanced" %}
    <h2>高级篇</h2>
    <p> 神奇宝贝联盟大会 </p>
    {% elif type == "Archive" %}
    <h2>归档</h2>
    <p>历史课程</p>
    {% endif %}
    <ul class="card-list">
      {% for dojo in dojos %}
      {{ card(url_for("pwncollege_dojos.view_dojo", dojo=dojo.reference_id),
      title=dojo.name or dojo.id,
      text="{} Modules : ".format(dojo.modules | length) + "{} / {}".format(dojo.solves(user=user, ignore_visibility=True, ignore_admins=False).count() if user else 0, dojo.challenges | length),
      icon="/themes/dojo_theme/static/img/dojo/{}.svg".format(dojo.award.emoji) if (dojo.award.emoji and dojo.official) else None) }}
      {% endfor %}

      {% if type.startswith("More") %}
        {% call card(url_for("pwncollege_dojos.dojo_create"), custom=True) %}
          <svg class="w-100 h-100">
            <circle cx="50%" cy="50%" r="30%" stroke="gray" fill="none" stroke-width="8" stroke-dasharray="8"></circle>
            <g stroke="gray" stroke-width="8">
              <line x1="50%" y1="30%" x2="50%" y2="70%"></line>
              <line x1="30%" y1="50%" x2="70%" y2="50%"></line>
            </g>
          </svg>
        {% endcall %}
      {% endif %}
    </ul>
    <br>
  {% endfor %}

{% endblock %}

{% block scripts %}
{% endblock %}