{% extends "base.html" %}
{% from "macros/widgets.html" import card %}

{% block stylesheets %}
<style>
  .card-icon img {
    width: 50%;
  }
</style>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>宝可梦道馆</h1>
    <p>
      为了获得宝可梦联盟大会的参赛资格，同学们需要在 pwn.hust.college 上挑战各个城市的宝可梦道馆，只有战胜馆主大家才能获得相应的道馆徽章。
    </p>
  </div>
</div>
<div class="container">
  {% for type, dojos in typed_dojos.items() %}
    {% if type == "Start Here" %}
    <h2>真新镇</h2>
    <p>在进入后续道馆完成挑战之前，同学们需要在真新镇的大木博士研究所获得初始神奇宝贝。</p>
    {% elif type == "Topics" %}
    <h2>宝可梦道馆</h2>
    <p>这些道馆构成了 pwn.hust.college 的正式课程，完成关卡后你可以获得<a href="{{ url_for("pwncollege_belts.view_belts") }}">徽章</a>奖励。我们建议按照顺序进行学习，祝你好运！</p>
    {% elif type == "Courses" %}
    <h2>课程</h2>
    <p>在此平台，我们开展了众多课程。这些课程大多采纳上文提及的教材，然而部分课程将引入崭新的观点与挑战。</p>
    {% endif %}
    <ul class="card-list">
      {% for dojo in dojos %}
      {{ card(url_for("pwncollege_dojos.view_dojo", dojo=dojo.reference_id),
      title=dojo.name,
      text="{} Modules : ".format(dojo.modules | length) + "{} / {}".format(dojo.solves(user=user, ignore_visibility=True, ignore_admins=False).count() if user else 0, dojo.challenges | length),
      icon="/themes/dojo_theme/static/img/dojo/{}.svg".format(dojo.award.belt) if (dojo.award.belt and dojo.official) else None,
      emoji=dojo.award.emoji ) }}
      {% endfor %}

      {% if type.startswith("More") %}
        {% call card(url_for("pwncollege_dojos.dojo_create"), custom=True) %}
          <svg class="w-100 h-100">
            <circle cx="50%" cy="50%" r="30%" stroke="gray" fill="none" stroke-width="8" stroke-dasharray="8"></circle>
            <g stroke="gray" stroke-width="8">
              <line x1="50%" y1="30%" x2="50%" y2="70%"></line>
              <line x1="30%" y1="50%" x2="70%" y2="50%"></line>
            </g>
          </svg>
        {% endcall %}
      {% endif %}
    </ul>
    <br>
  {% endfor %}
{% endblock %}

{% block scripts %}
{% endblock %}