{% extends "base.html" %}

{% block content %}
<div class="container">

  <p><br><br>

  <center>
    <h1><b>pwn.hust.college</b></h1>
    <h3>未知攻，焉知防！</h3>
    <h3>实践出真知！</h3>
  </center>
  
  <br><br>
  
  # 欢迎来到 pwn.hust.college
  
  `pwn.hust.college` 是一个基于神奇宝贝动画设计的CTF趣味教育平台，供学生团体学习和动手实践网络空间安全安全的核心概念。同学们化身为神奇宝贝训练家，通过挑战神奇宝贝道馆实践理论课堂中的网络空间安全核心攻防技术，获取相应道馆徽章，并最终成长为技术娴熟的白帽黑客。我们平台的设计理念为 **未知攻，焉知防** 与 **实践出真知**，旨在让同学们在神奇宝贝道馆挑战中动手实践网络空间安全攻防的理论知识。
  
  本平台由华中科技大学网络空间安全学院的出色<a href="#运维团队">白帽黑客团队</a>维护。目前该平台支撑网安学院的软件安全理论课程与实践课程，且免费开源。
  
  如果你有任何意见，建议和反馈，请通过[邮箱](mailto:pwn_hust_college@hust.edu.cn)联系我们！
  
  <br><br>
  
  <!--
    此处应该加上一张地图，包含从真新镇出发，挑战神奇宝贝道馆的图片
  -->
  
  # 入门篇
  
  在开展正式道馆挑战之前，各位神奇宝贝训练家需要完成**入门篇**学习，才能从真新镇大木博士研究所获得神奇宝贝图鉴、神奇宝贝球等。开始学习吧，各位神奇宝贝训练家！
  
  <ul class="card-list" style="display: block; margin-left: auto; margin-right: auto; width: 30%;">
    <a class="text-decoration-none" href="/dojo/welcome">
      <li class="card card-small">
      <div class="card-body">
        <h4 class="card-title">入门篇</h4>
        <p class="card-text">就决定是你了，皮卡丘!</p>
        <div class="card-icon">
          <img src="/themes/dojo_theme/static/img/dojo/PokeBall.svg" style="width: 50%;">
        </div>
      </div>
      </li>
    </a>
  </ul>
  
  一旦你完成**入门篇**学习，便可以挑战基础篇中各种充满各种软件安全知识的神奇宝贝道馆。当你在学习和挑战过程中遇到问题，可以在 [Kook 服务器频道](https://kook.top/soUkFL)中寻找帮助。[Kook 服务器频道](https://kook.top/soUkFL)也是一个同其他神奇宝贝训练家交流经验和心得的地方。
  
  <br><br>
  
  # 神奇宝贝道馆
  
  在开展正式道馆挑战之前，我们先来介绍一下神奇宝贝道馆。每个神奇宝贝道馆都有一位馆主及其独特属性的神奇宝贝，同学们需要通关道馆挑战关卡，击败道馆馆主才能获得道馆徽章。**注意**，只有集齐 8 枚徽章的神奇宝贝训练家才能参加最终的神奇宝贝联盟大会。加油吧，各位神奇宝贝训练家！
  
  <br>
  
  ## 徽章（Badge）
  
  徽章作为神奇宝贝训练家通过道馆馆主考验的标志，是同学们参加神奇宝贝联盟大会的入场券，同时，也是神奇宝贝训练家的实力象征。为了激励大家学习热情，**我们将制作好真实的道馆徽章，发放给完成道馆挑战的神奇宝贝训练家。**
  
  <br>
  
  ## 如何获得真实道馆徽章？
  
  一旦你完成所有必需的挑战关卡在平台中获得道馆徽章，你可以通过 `pwn.hust.college` 平台注册账号的关联邮件账号[发送邮件](mailto:pwn_hust_college@hust.edu.cn)给我们，获取真实徽章！
  
  <br><br>
  
  # 初级篇
  
  初级篇包含 4 个初级神奇宝贝道馆，分别是**深灰道馆，华蓝道馆，枯叶道馆，金黄道馆**。
  
  <div style="overflow-x: auto;">
    <table style="min-width: 500px;">
      <thead>
        <tr>
          <th colspan="6" style="border-bottom: 2px solid #b5e853;"></th>
        </tr>
        <tr>
          <th>课程</th>
          <th>道馆</th>
          <th>知识点</th>
          <th>馆主</th>
          <th>宝可梦</th>
          <th>徽章</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="4" style="height: 0">
            <div
              style="border-right: 1px dashed #b5e853; height: calc(100% - 16px); display: flex; flex-direction: column; justify-content: center;">
              软件安全</div>
          </td>
          <td><a href="/dojo/pewter">深灰道馆</a></td>
          <td>基础知识</td>
          <td>小刚</td>
          <td>
            <span class="sprite-pm sprite-icon sprite-icon-074" title="小刚的小拳石"></span>
            <span class="sprite-pm sprite-icon sprite-icon-095" title="小刚的大岩蛇"></span>
          </td>
          <td>灰色徽章</td>
        </tr>
        <tr>
          <td><a href="/dojo/cerulean">华蓝道馆</a></td>
          <td>ELF可执行格式</td>
          <td>小霞</td>
          <td>
            <span class="sprite-pm sprite-icon sprite-icon-120" title="小霞的海星星"></span>
            <span class="sprite-pm sprite-icon sprite-icon-121" title="小霞的宝石海星"></span>
          </td>
          <td>蓝色徽章</td>
        </tr>
        <tr>
          <td><a href="/dojo/vermilion">枯叶道馆</a></td>
          <td>安全漏洞实践</td>
          <td>马志士</td>
          <td>
            <span class="sprite-pm sprite-icon sprite-icon-026" title="马志士的雷丘"></span>
          </td>
          <td>橙色徽章</td>
        </tr>
        <tr>
          <td><a href="/dojo/saffron">金黄道馆</a></td>
          <td>漏洞利用技术</td>
          <td>娜姿</td>
          <td>
            <span class="sprite-pm sprite-icon sprite-icon-063" title="娜姿的凯西"></span>
            →
            <span class="sprite-pm sprite-icon sprite-icon-064" title="娜姿的勇基拉"></span>
          </td>
          <td>金色徽章</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" style="border-top: 2px solid #b5e853;"></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <br>
  
  # 中级篇
  
  中级篇包含 4 个中级神奇宝贝道馆，分别是**玉虹道馆，浅红道馆，红莲道馆，常青道馆**。
  
  <div style="overflow-x: auto;">
    <table style="min-width: 500px;">
      <thead>
        <tr>
          <th colspan="6" style="border-bottom: 2px solid #b5e853;"></th>
        </tr>
        <tr>
          <th>课程</th>
          <th>道馆</th>
          <th>知识点</th>
          <th>馆主</th>
          <th>宝可梦</th>
          <th>徽章</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="4" style="height: 0">
            <div
              style="border-right: 1px dashed #b5e853; height: calc(100% - 16px); display: flex; flex-direction: column; justify-content: center;">
              软件安全</div>
          </td>
          <td><a href="/dojo/celadon">玉虹道馆</a></td>
          <td>漏洞防御技术</td>
          <td>莉佳</td>
          <td>
            <span class="sprite-pm sprite-icon sprite-icon-114" title="蔓藤怪"></span>
            <span class="sprite-pm sprite-icon sprite-icon-070" title="口呆花"></span>
            <span class="sprite-pm sprite-icon sprite-icon-044" title="臭臭花"></span>
          </td>
          <td>彩虹徽章</td>
        </tr>
        <tr>
          <td><a href="/dojo/fuchsia">浅红道馆</a></td>
          <td>漏洞发现</td>
          <td>阿桔</td>
          <td>
            <span class="sprite-pm sprite-icon sprite-icon-048" title="阿桔#毛球"></span>
            →
            <span class="sprite-pm sprite-icon sprite-icon-049" title="阿桔#摩鲁蛾"></span>
          </td>
          <td>粉红徽章</td>
        </tr>
        <tr>
          <td><a href="/dojo/cinnabar">红莲道馆</a></td>
          <td>漏洞重现</td>
          <td>夏伯</td>
          <td>
            <span class="sprite-pm sprite-icon sprite-icon-112" title="夏伯#钻角犀兽"></span>
            <span class="sprite-pm sprite-icon sprite-icon-126" title="夏伯#鸭嘴火兽"></span>
          </td>
          <td>深红徽章</td>
        </tr>
        <tr>
          <td><a href="/dojo/viridian">常青道馆</a></td>
          <td>软件安全设计</td>
          <td>坂木</td>
          <td>
            <span class="sprite-pm sprite-icon sprite-icon-068" title="坂木（动画）#怪力"></span>
            <span class="sprite-pm sprite-icon sprite-icon-099" title="坂木（动画）#巨钳蟹（×2）"></span>
            <span class="sprite-pm sprite-icon sprite-icon-112" title="坂木（动画）#钻角犀兽"></span>
          </td>
          <td>绿色徽章</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" style="border-top: 2px solid #b5e853;"></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <br>
  
  # 高级篇
  
  神奇宝贝联盟大会（Pokémon League Conference）是宝可梦动画中的宝可梦联盟比赛，在每个地区都有例行性的举办。若要取得参赛资格，通常要在联盟举办前，取得当地 8 枚以上的道馆徽章。
  
  <br><br>
  
  # 合作与通关（Writeup）政策
  
  `pwn.hust.college` 创建的挑战关卡是教育素材，用于给华科网安学院的学生评分。因此，我们希望不要在互联网上发布这些挑战关卡的通关攻略、讲解视频和直播。显然，我们无法阻止你在互联网上发布内容，但我们努力使所有这些内容都变成公开的，我们希望你可以帮忙使 `pwn.hust.college` 保持为一个可用的趣味学习与教育平台。
  
  <br><br>
  
  # 学习深造
  
  当你学习完网络空间安全的基础知识并获得蓝色徽章后，你应该挑战更难的关卡。
  
  CTF 是一个很好的方式，可以在有趣和合法的情况下练习你的黑客技能。查找即将举行的 CTF 活动的最流行的方式是在 https://ctftime.org，这里还有一个初学者 CTF 列表。如果你在华中科技大学大学，欢迎加入 [L3H CTF 俱乐部](https://l3hsec.com/)。
  
  如果你想参与网络空间安全方面的研究，但不知道如何入门，请考虑加入我们 Security Pride 实验室实习，并[联系我们](mailto:dzm91@hust.edu.cn)。
  
  # 贡献
  
  `pwn.hust.college` 基础架构及相关道馆仓库均开源在 [华中科技大学开放原子开源俱乐部组织](https://github.com/hust-open-atom-club)，欢迎大家提交 PR 和 issue。然而，道馆仓库中不包含 write-up 或 solution。如果你是一位教育工作者，或者其他我们信任的人，并且对与模块本身素材的合作感兴趣，通过[邮箱](mailto:pwn_hust_college@hust.edu.cn)联系我们。
  
  如果你想参与贡献，请遵循”上游优先“原则，优先贡献由亚利桑那州立大学创建的上游 `pwn.collge` 平台。如果是 pwn.hust.college 平台上的特定问题或参与该平台的开源贡献，请提交 issue 或 PR 到我们的仓库。非常感谢！
  
  <br><br>
  
  # 运维团队<a id="运维团队"></a>
  
  目前本平台由华中科技大学[网安学院开放原子开源俱乐部](https://github.com/hust-open-atom-club/)成员开发并维护，他们分别是：
  
  - [慕冬亮](https://github.com/mudongliang) 
  - [丁鹏宇](https://github.com/wumingzhilian)
  - [胡崟昊](https://github.com/huyinhao)
  
  <br><br>
  
  # 资源
  
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-auto m-3">
        <figure>
          <a class="text-decoration-none" href="https://github.com/hust-open-atom-club">
            <i class="fab fa-github fa-5x"></i>
            <figcaption>开源俱乐部组织</figcaption>
          </a>
        </figure>
      </div>
      <div class="col-lg-auto m-3">
        <figure>
          <a class="text-decoration-none" href="mailto:pwn_hust_college@hust.edu.cn">
            <i class="fas fa-envelope fa-5x"></i>
            <figcaption>邮件联系</figcaption>
          </a>
        </figure>
      </div>
    </div>
  </div>
</div>
{% endblock %}