{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>注册</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			{% include "components/errors.html" %}

			<h2>基本规则</h2>
			<p>在使用这个平台时，请记住一些基本规则！</p>
			<h3>通关攻略（Writeups）</h3>
			<p>pwn.hust.college 创建的挑战关卡是教育素材，用于给华科网安学院的学生评分。因此，我们希望不要在互联网上发布这些挑战关卡的通关攻略、讲解视频和直播。显然，我们无法阻止您在互联网上发布内容，但我们努力使所有这些内容都变成公开的，我们希望您的帮助能够使 pwn.hust.college 保持为一个可行的教育平台。</p>
      <h3>漏洞悬赏</h3>
      <p>即使是精英黑客，他们编写的软件中也会存在安全漏洞！如果你找到平台中的漏洞，请 <a href="mailto:dzm91@hust.edu.cn">发送邮件</a> 给我们，非常感谢！如果你是华科网安学院的学生，我们会奖励给你额外的分数！</p>

      <h2>Sign Up!</h2>
			{% with form = Forms.auth.RegistrationForm() %}
			{% from "macros/forms.html" import render_extra_fields %}
			<form method="post" accept-charset="utf-8" autocomplete="off" role="form">
				<div class="form-group">
					<b>{{ form.name.label }}</b>
					{{ form.name(class="form-control", value=name) }}
					<small class="form-text text-muted">
						Your username on the site
					</small>
				</div>
				<div class="form-group">
					<b>{{ form.email.label }}</b>
					{{ form.email(class="form-control", value=email) }}
					<small class="form-text text-muted">
						Never shown to the public
					</small>
				</div>
				<div class="form-group">
					<b>{{ form.password.label }}</b>
					{{ form.password(class="form-control", value=password) }}
					<small class="form-text text-muted">
						Password used to log into your account
					</small>
				</div>
				{{ form.nonce() }}

				{{ render_extra_fields(form.extra) }}

				<div class="row pt-3">
					<div class="col-md-12">
						{{ form.submit(class="btn btn-md btn-primary btn-outlined float-right") }}
					</div>
				</div>

				{% if Configs.tos_or_privacy %}
				<div class="row pt-3">
					<div class="col-md-12 text-center">
						<small class="text-muted text-center">
							By registering, you agree to the
							<a href="{{ Configs.privacy_link }}" rel="noopener" target="_blank">privacy policy</a>
							and <a href="{{ Configs.tos_link }}" rel="noopener" target="_blank">terms of service</a>
						</small>
					</div>
				</div>
				{% endif %}
			</form>
			{% endwith %}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
